nav{
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0;
  text-align: center;
  justify-content: center;
  z-index: 2;
  transition-duration: 0.5s;
  display: flex;
  align-items: center;

}

nav ul {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.left {
  float: left;
  margin-left: 3%;
}

.right {
  float: right;
  margin-right: 3%;
}

nav li{
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 25px;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 20px;
}

 .balllink {
  display: none;
  justify-content: center;
}

 #ballmobile {
  width: 80px;
  justify-content: center;
}

.programslink {
  display: none;
}

.logo {
  width: 100px;
  position: fixed;
  top: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

nav .left li a 
{
  text-decoration: none;
  display: block;
  border-right: 1px solid white;
  padding-right: 20px;
}

nav .right li a 
{
  text-decoration: none;
  display: block;
  border-left: 1px solid white;
  padding-left: 20px;
}