* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

/*----------------------  Meet the Team -----------------------*/
#justinTeamImg
{
  float: left;
  width: 400px;
}
.textTeam
{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.containerTeam
{
  margin-bottom: 100px;
}

.wrapperTeam
{
  margin-top: 40px;
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 0.1em;
  width: 100%;
  justify-content: center;
}

#teamTitle
{
  text-align: center;
  justify-content: center;
  align-self: center;
  margin-top: 100px;
}

/*----------------------  Programs -----------------------*/

.programsImage
{
  float: left;
  width: 400px;
  display: flex;
}

.text-programs
{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.containerPrograms
{
  margin-bottom: 100px;
}

.wrapperPrograms
{
  margin-top: 100px;
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 0.1em;
  width: 100%;
  justify-content: center;
}

.programs-schedule
{
  font-weight: normal;
  font-size: 25px;
  margin-top: 20px;

}

.programs-header
{
  font-size: 30px;
}

.schedule-text
{
  margin-top: 15px;
}
@media(max-width:950px)
{
  .wrapperPrograms
  {
    grid-template-columns: 1fr;
  }
  .programsImage
  {
    float: none;
    justify-self: center;
    text-align: center;
  }
}

/*----------------------  Contact Us -----------------------*/
.contact-title
{
  margin-top: 100px;
}

#contact-description
{
  text-align: center;
}

.contact-container
{
}
.contact-wrapper 
{
  display: flex;
  justify-content: center;
}
.contact-info-head
{
  display: inline-flex;
  margin-top: 30px;
  font-weight: bold;
  height: 100%;
}

.contact-info1
{
  align-self: flex-end;
  margin-left: 8px;
}
.contact-info2
{
  align-self: flex-end;
  margin-left: 8px;
}
.contact-info1 a 
{
  text-decoration: none;
  color: #ff3f9c;
}

.contact-info2 a 
{
  text-decoration: none;
}

.location-title
{
  margin-top: 30px;
}
.location-container
{
  display: flex;
  justify-content: center;
}
.googlemap
{
  width: 80vw;
  justify-content: center;;
  margin-bottom: 40px;
}
.location-text-wrapper
{
  margin-bottom: 100px;
}

.location-text
{
  font-size: 25px;
  text-align: center;
}

/*----------------------  Mission -----------------------*/
.mission-image
{
  width: 100%;
  height: 600px;
  margin-bottom: 40px;
}

.mission-container
{
  width: 100%;
  justify-content: center;
  display: flex;
}
.mission-wrapper
{
  justify-self: center;
  margin-bottom: 150px;
  width: 45%;
  text-align: center;
}

#mission-title
{
  font-size: 3em;
}
.mission-text
{
  text-align: center;
  font-size: 30px;
}

/*----------------------  Facilities -----------------------*/
.facilites-title
{
  margin-top: 100px;
}

.wrapperFacilities
{
  margin-top: 100px;
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 1em;
  width: 100%;
  justify-content: center;
  margin-bottom: 100px;
}

.facilitiesImage
{
  float: left;
  width: 30vw;
  display: flex;
}